absl-py==0.7.1
anaconda==0.0.1.1
appdirs==1.4.3
astor==0.7.1
attrs==19.1.0
autopep8==1.4.3
cached-property==1.5.1
Cerberus==1.3
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
conda==4.3.16
distlib==0.2.8
dj-database-url==0.5.0
Django==2.2.1
django-crispy-forms==1.7.2
first==2.0.2
gast==0.2.2
grpcio==1.20.1
gunicorn==19.9.0
h5py==2.9.0
idna==2.8
installer==0.1.1
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.1
mock==3.0.5
numpy==1.16.3
orderedmultidict==1.0
packagebuilder==0.1.0
packaging==19.0
pep517==0.5.0
pip-shims==0.3.2
plette==0.2.2
protobuf==3.7.1
psycopg2-binary==2.8.2
pycodestyle==2.5.0
pycosat==0.6.3
pyparsing==2.4.0
pytoml==0.1.20
pytz==2019.1
requests==2.21.0
requirementslib==1.4.2
ruamel.yaml==0.15.94
six==1.12.0
sqlparse==0.3.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tomlkit==0.5.3
urllib3==1.24.3
vistir==0.4.0
Werkzeug==0.15.2
whitenoise==4.1.2
yaspin==0.14.2
